footer {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 350px;
  padding: 0 100px;
  background-color: var(--main-eb-color);
}

.eb-footer-content_container {
  position: relative;
  top: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.eb-footer-content_container .eb-logo_container a {
  font-size: 35px;
  text-shadow: 0 2px 0px #408c87;
}

.eb-footer-content_container .eb-logo_container a span {
  color: var(--main-eb-white-color);
}

.eb-footer-section {
  display: flex;
  flex-direction: column;
}

.eb-footer-section a {
  margin-bottom: 20px;
  color: var(--main-eb-white-color);
}

.eb-footer-section>div p {
  color: var(--main-eb-white-color);
}

.eb-footer-section a:last-child {
  margin-bottom: 0;
}

.eb-footer-section a svg {
  font-size: 18px;
  margin-right: 5px;
}

.eb-footer-socials_container {
  display: flex;
  justify-content: space-between;
}

.eb-footer-socials_container-ss {
  display: none;
}

.eb-footer-lang_container img {
  width: 20px;
  margin-right: 5px;
}

.eb-socials:nth-child(2) {
  margin: 0 20px;
}

.eb-socials img {
  width: 35px;
}

.eb-footer-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: var(--main-eb-color);
}

.eb-footer-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 168px;
}

.eb-footer-wave .shape-fill {
  fill: var(--main-eb-white-color);
}

@media only screen and (max-width: 1250px) {
  footer {
    padding: 0;
  }
}

@media only screen and (max-width: 850px) {
  footer {
    height: 400px;
  }
  .eb-footer-content_container {
    flex-direction: column;
    top: 130px;
  }
  footer .eb-logo_container {
    display: none;
  }
  .eb-footer-socials_container-ss {
    display: block;
  }
  .eb-footer-socials_container-ss {
    margin: 30px 0;
  }
}


@media only screen and (max-width: 600px) {
  .eb-footer-wave svg {
    height: 100px;
  }
}
