.eb-single-book_container {
    display: flex;
    max-width: 800px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.eb-single-book-ls {
    width: 250px;
    margin-right: 30px;
}

.eb-single-book-ls img {
    width: 250px;
    height: 360px;
    box-shadow: 0px -2px 20px 2px #dddddd;
}

.eb-single-book-stats_container {
    display: flex;
    margin-top: 20px;
    color: var(--main-grey-color);
}

.eb-single-book-stats_container div {
    margin-right: 20px;
}

.eb-single-book-rs-top h2 {
    font-weight: bold;
    margin: 0;
}

.eb-single-book-rs-top-ss {
    display: none;
    text-align: center;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1090px) {
    .eb-single-book_container {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .eb-single-book_container {
        width: 95%;
    }
    .eb-single-book-ls img {
        width: 230px;
        height: 330px;
    }
}

@media only screen and (max-width: 650px) {
    .eb-single-book_container {
       flex-direction: column;
       align-items: center;
       margin-top: 10px;
    }

    .eb-single-book-ls {
        text-align: center;
        margin: 0;
    }

    .eb-single-book-actions_container {
        width: 230px;
        margin: 0 auto;
    }

    .eb-single-book-rs-top {
        display: none;
    }
    
    .eb-single-book-rs-top-ss {
        display: block;
        margin-bottom: 20px;
    }

    .eb-single-book-rs-top-ss h2, h3 {
        margin: 0 !important;
    }

    .eb-single-book-rs-top-ss .eb-single-book-stats_container {
        margin-top: 10px;
    }

    .eb-single-book-rs-top-ss .eb-single-book-stats_container > div:last-child{
        margin-right: 0;
    }

    .eb-single-book-rs {
        margin-top: 30px;
    }

    .eb-single-book-rs .separator {
        display: none;
    }
    
}