.eb-main_container {
    position: relative;
    margin-top: var(--header-height-lg);
    padding: 80px 0;
    min-height: calc(100vh + 50px);
    transition: all .1s linear;
}

.eb-mainPage_container {
    width: 1165px;
    margin: 0 auto;
    margin-top: var(--header-height-lg);
}

.eb-main-downloads_container {
    text-align: center;
    font-size: 25px;
    margin-bottom: 120px;
}

.eb-main-downloads_container p {
    color: lightgray;
}

@media only screen and (max-width: 1200px) {
    .eb-mainPage_container {
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .eb-main_container {
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
    }
}