.main_container {
    position: relative;
    margin-top: var(--header-height-lg);
    padding: 80px 0;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .main_container {
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
    }
}