.comments-section_container {
    display: block;
    margin-top: 150px;
    margin-bottom: 100px;
}

.comments-section_container h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.new-comment_container {
    position: relative;
}

.new-comment_container textarea {
    font-size: 16px;
}

.new-comment_container button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-radius: var(--main-border-radius);
    box-shadow: 0px -1px 3px #d3d3d35c;
    background-color: white;
    cursor: pointer;
    transition: all .1s linear;
}

.comments_container {
    margin-top: 50px;
    background-color: white;
}

.comment_container {
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 1px solid #d3d3d357;
}

.author-icon_container{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    background-color: var(--main-eb-color);
    border-radius: 50%;
    box-shadow: var(--main-grey-box-shadow);
}

.comment-date {
    font-size: 14px;
    color: grey;
}

.comment-body {
    margin: 8px 0;
}

.comment-actions_container {
    font-size: 14px;
    color: var(--main-grey-color);
}

.comment-actions_container svg {
    cursor: pointer;
}

.comment-actions_container svg:first-child {
    margin-right: 15px;
}