*, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;

  --main-color: #00b7ad;
  --main-white-color: #f9f9f9;
  --main-grey-color: #4a5656;
  --main-border-radius: 4px;
  --main-box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  min-height: 120vh;
}

h1, h2, h3, h4, span, p, label, ul {
  color: var(--main-grey-color);
  margin: 0;
}

h1, h2, h3, h4 {
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: var(--main-grey-color);
}

img {
  border-radius: var(--main-border-radius);
}

button {
  color: var(--main-grey-color);
  padding: 7px 10px;
  font-size: 16px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  resize: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.df-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.df-fs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.df-ac {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.df-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.df-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bold {
  font-weight: 700;
}