header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  border: 1px solid;
}

.logo-container img {
  width: 70px;
}