.eb-terms_container {
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
}

.terms-section {
    margin-bottom: 50px;
}

.terms-section p {
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
    .eb-terms_container {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .eb-terms_container {
        width: 95%;
    }
}