.mantine-Tabs-root button {
    border-radius: 0;
    color: var(--main-color);
}

.mantine-Tabs-tabsListWrapper {
    border: 0;
}

.mantine-Tabs-tabInner {
    font-size: 17px;
}

.mantine-Badge-root {
    min-width: 110px;
    margin-left: 40px;
}

.mantine-Badge-root span {
    color: white;
}

.requests-container {
    width: 60%;
    min-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.request-container {
    padding: 20px 15px;
    border-bottom: 2px solid #accbee6e;
    cursor: pointer;
    transition: all .1s linear;
}

.request-container:hover {
    background-color: #accbee70;
}

.request-container svg {
    font-size: 22px;
    margin-right: 10px;
}

.request-container a, p {
    font-size: 16px;
    text-align: left;
    overflow-wrap: anywhere;
}