.file-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 30px;
    background-color: #e4edfb;
    box-shadow: inset 0px 1px 20px 0px #c8ddf5;
    border-radius: var(--main-border-radius);
}

.file-title {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.download-file-btn {
    font-size: 40px;
    color: var(--main-grey-color);
    cursor: pointer;
}

.filesize, .upload-date {
    font-size: 15px;
    text-align: left;
}
