.file-container {
    position: relative;
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 30px;
    background-color: #e4edfb;
    box-shadow: inset 0px 1px 20px 0px #c8ddf5;
    border-radius: var(--main-border-radius);
}

.file-title {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.filesize-download-container {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed #495656;
}

.download-file-btn {
    font-size: 33px;
    color: var(--main-grey-color);
    cursor: pointer;
}

.not-allowed-file-btn {
    font-size: 33px;
    color: var(--main-grey-color);
}

.file-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: var(--main-grey-color);
}

.file-menu button {
    box-shadow: none !important;
}

.mantine-Menu-item svg, .mantine-Menu-item div {
    color: var(--main-grey-color);
}

.mantine-ActionIcon-root svg {
    width: 25px;
    height: 25px;
}

.filesize {
    font-size: 15px;
    text-align: left;
}
